@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to,</h1>
    <h1 class="display-1 fw-bolder">Finderr</h1>
    
    <a class="btn btn-dark btn-lg" asp-controller="Search" asp-action="Index">Search</a>
</div>
